DIRECTORY=""
## Windows
# "C:\\Users\\Firea\\obsidian\\pywriter4\\developer\\NodeJS"
## MacOS or Linux
# "/Volumes/edata/obsidian/pywriter4/MacOS"

FILE=""
# '/Volumes/edata/obsidian/pywriter4/developer/emulation 👾/Cemu.md'
## use for files inside this repo
# "./exampleFolder/note.md"

# type ExportType = 'wikilink'|'markdownLink'|'borkedExternalWiki'|'addWikilinkAlias'
EXPORTTYPE="addWikilinkAlias"

# test and print out how links will be converted without saving or overwritting your notes
DRYRUN="true"